/elpa
/.recentf
/.emacs.desktop
/.emacs.desktop.lock
/bookmarks
/eshell
/todo
/anything-c-adaptive-history
/site-lisp/mew-fancy-summary.el
/themes
/.cask
/el-get
/.python-environments
/network-security.data
/recentf
/smex-items
/el-get.lock
*.elc
/recentf~
straight/
transient/
url/
auto-save-list/
elpy/
